<footer class="{{ .Site.Params.background_color_class | default " bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
    <a class="fl w-75   f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}">
      &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
    </a>
    <div class="fl w-25   f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3">
      This site used cookies for analytics
    </div>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>